html {
  background-color: hsl(41, 27%, 16%, 90%);
}

header {
  font-family: 'Red Hat Display', sans-serif;
  background-color: hsla(45, 53%, 70%, 70%);
  padding: 1rem 1rem 2rem;

}

h1 {
  text-align: left;
  font-weight: bold;
  font-size: 5vw;
  text-align: center;
  padding: 1rem;
  color: hsl(17, 58%, 24%);

}

nav {
  text-align: center;
}

nav a {
  padding: .3rem;
  border: solid 2px hsl(17, 58%, 24%);
  /* border-radius: 20px; */
  text-decoration: none;
  font-weight: bold;
  color: hsl(17, 57%, 37%);
}

#nav-img {
  width: 100%;
}


div {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 4rem auto;
  color: hsl(43, 38%, 61%);
  font-family: Georgia, 'Times New Roman', Times, serif;
  max-width: 50%;
  letter-spacing: .8px;
  /* border: 2px solid black; */
  padding: .8rem;
  line-height: 1.2;
}

h2 {
  padding: 2rem;
  text-align: center;
  color: hsl(43, 38%, 61%);
  font-size: 3vw;
  font-family: 'Red Hat Display', sans-serif;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  font-weight: bold;
  font-size: 2vw;
  color: hsla(45, 53%, 70%, 70%);
  letter-spacing: .8px;
}

#store-locations {
  max-width: 75%;
  margin: 0 auto;
}

#store-locations div {
  border: 2px solid hsla(45, 53%, 70%, 70%);
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  background-color: hsla(45, 53%, 70%, 70%);
  color: hsl(17, 58%, 24%);
  line-height: 1.2;

}



footer {
  background-color: hsla(45, 53%, 70%, 70%);
  color: hsl(17, 58%, 24%);
  padding: 1rem;
  bottom: 0;
  position: aboslute;
  text-align: center;

}

#cutter {
  height: 125px;
}

.fish {
  /* border-radius: 80%; */
  opacity: 0.8;
  height: 70px;
}

#frosted {
  opacity: 0.8;
}

footer img {
  height: 50px;
}

/* Sales Page */

table {
  border: 2px solid black;
  width: 75%;
  font-family: Verdana, sans-serif;
  margin: 1rem auto;
  text-align: center;

}

tr,
td,
th {
  border: 1px solid black;
  padding: .5rem;
  background-color: hsl(42, 15%, 50%);

}

tr {
  padding: .25vw;
}

tr:nth-child(even) td {
  background-color: hsl(43, 43%, 62%);
  ;
}

tr:nth-child(odd) td {
  background-color: hsl(43, 43%, 62%);
}


/* About Page */

#family-img {
  border-radius: 50px;
}